html,body{
    padding: 0;
    margin: 0;
    background: #006699;
}
.container{
    width: 1000px;
    margin: 0 auto;
    font-family: Verdana, Arial, sans-serif;
    background: #f6f9ff;
}
.header{
    background: url(images/backgroung_top.jpg);
    height: 176px;
    text-align: right;
}
.header img{
    margin-top: 26px;
    margin-right: 30px;
}
.line{
    height: 31px;
    background: url(images/line.png);
}
.menu{
    width: 200px;
    float: left;
}
.menu ul{
    margin: 20px 0 0 20px;
    padding: 0;
    list-style: none;
    font-weight: bold;
}
.menu a{
    color: #006699;
}
.menu li{
    margin-bottom: 10px;
    color: #006699;
}
.content{
    margin-left: 210px;
    margin-right: 20px;
}
.content h3{
    color: #006699;
    text-align: center;
}
.content p{
    text-align: justify;
}
.content div{
    margin-top: 30px;
}
.map{
    float: left;
    margin-top: 10px;
    margin-right:  10px;
}
.footer{
    height: 164px;
    background: url(images/backgroung_bottom.jpg);
    text-align: center;
}
.footer div{
    padding-top: 120px;
    color: #FFF;
}
.content h6{
    margin-top: -15px;
    float: right;
    color: #006699;
}
.content a{
    color: #006699;
}
.content ul{
    padding: 0px 0px 0px 0px;
    list-style: none;
    color: gray;
}
.content table{
    border-spacing: 3px 0px;
    padding: 10px 0px 0px 70px;
}
.content li{
    padding-top: 25px;
}