html, body{
	margin: 0;
	padding: 0;
	background: #006699;
}
.container{
	width: 1000px;
	margin: 0 auto;
	font-family: Verdana, Arial, sans-serif;
	background: #F6F9FF;
}
.header{
	background: url(backgroung_top.jpg);
	height: 176px;
	text-align: right;
}
.line{
	background: url(line.png);
	height: 31px;
}
.header img{
	margin: 28px 30px 0 0;
}
.menu{
	width: 180px;
	float: left;
}
.content{
	margin-left: 200px;
}
.menu ul{
	list-style: none;
	font-weight: bold;
	
}
.menu a, .menu li{
	color: #006699;	
}
.menu li{
	margin-bottom: 10px;
} 
.content h3{
	color: #006699;
	text-align: center;
}
.map_main{
	float: left;
	margin: 10px 12px 4px 0;
}
.content p{
	text-align: justify;
	margin-right: 20px;
}
.footer{
	clear: left;
	background: url(backgroung_bottom.jpg);
	height: 164px;
}
.footer p{
	text-align: center;
	padding-top: 120px;
	color: #fff;
}
























